Repository DHBW-VS-WI17B/assignment-abe1-b1, pull requests merged in 2020-08, with the labels that each got.

#7 feat(documentation): add lot and lol
  src/documentation/root.tex
Labels: comp: documentation

#9 chore(server): add readme
  src/server/README.md
Labels: comp: server

#8 chore(client): add readme
  src/client/README.md
Labels: comp: client

#6 feat(documentation): update index structure
  src/documentation/text/01_Preface/_intro.tex
  src/documentation/text/01_Preface/requirements.tex
  src/documentation/text/01_Preface/task-definition.tex
  src/documentation/text/02_Use_cases/_intro.tex
  src/documentation/text/03_Architecture/_intro.tex
  src/documentation/text/03_Architecture/actor-system.tex
  src/documentation/text/03_Architecture/message-exchange.tex
  src/documentation/text/03_Architecture/overall-architecture.tex
  src/documentation/text/04_Conclusion/_intro.tex
  src/documentation/text/index.tex
Labels: comp: documentation

#10 docs: add information about the actor model
  docs/actor-model.md
Labels: docs

#11 feat(documentation): implement preface intro section
  src/documentation/text/01_Preface/_intro.tex
Labels: comp: documentation

#12 feat(documentation): implement task definition section
  src/documentation/text/01_Preface/task-definition.tex
Labels: comp: documentation

#14 feat(documentation): implement requirements section
  src/documentation/text/01_Preface/requirements.tex
Labels: comp: documentation

#15 feat(documentation): implement use cases section
  src/documentation/literature.bib
  src/documentation/root.tex
  src/documentation/text/02_Use_cases/_intro.tex
Labels: comp: documentation

#20 feat(server): add entity classes
  src/server/app/classes/__init__.py
  src/server/app/classes/address.py
  src/server/app/classes/customer.py
  src/server/app/classes/event.py
  src/server/app/classes/sale.py
  src/server/app/classes/ticket.py
Labels: comp: server

#21 build(documentation): update udhbwvst to version 5.3.4
  .github/workflows/ci.yml
  src/documentation/.devcontainer/Dockerfile
Labels: comp: documentation

#23 ci: add workflow for server
  .github/workflows/ci-documentation.yml
  .github/workflows/ci-server.yml
  .github/workflows/release.yml
  src/server/requirements.txt
Labels: ci, comp: server

#24 ci: set correct and missing paths
  .github/workflows/ci-documentation.yml
  .github/workflows/ci-server.yml
Labels: ci

#27 refactor(server): fix lint warnings
  src/server/app/__main__.py
  src/server/app/classes/address.py
  src/server/app/classes/customer.py
  src/server/app/classes/event.py
  src/server/app/classes/sale.py
  src/server/app/classes/ticket.py
Labels: comp: server

#26 chore(server): add pylint config file
  .github/workflows/ci-server.yml
  src/server/.pylintrc
Labels: comp: server

#18 feat(server): implement events actor and routes
  src/server/app/__main__.py
  src/server/app/actors/events_actor.py
  src/server/app/classes/actor_message.py
  src/server/app/classes/event.py
  src/server/app/enums/actor_name.py
  src/server/app/enums/events_actor_action.py
  src/server/app/routes/events.py
Labels: comp: server

#19 feat(server): implement customers actor and routes
  src/server/.pylintrc
  src/server/app/__main__.py
  src/server/app/actors/customers_actor.py
  src/server/app/classes/actor_message.py
  src/server/app/classes/customer.py
  src/server/app/enums/actor_name.py
  src/server/app/enums/customers_actor_action.py
  src/server/app/routes/customers.py
Labels: comp: server

#28 chore(server): update pylint config
  src/server/.pylintrc
Labels: comp: server

#25 feat(client): add boilerplate code
  src/client/.devcontainer/Dockerfile
  src/client/.devcontainer/devcontainer.json
  src/client/.gitignore
  src/client/.pylintrc
  src/client/.vscode/settings.json
  src/client/app/__main__.py
  src/client/app/api/__init__.py
  src/client/app/api/events.py
  src/client/app/classes/__init__.py
  src/client/app/commands/__init__.py
  src/client/app/commands/budget.py
  src/client/app/commands/customer.py
  src/client/app/commands/event.py
  src/client/app/commands/ticket.py
  src/client/requirements.txt
Labels: comp: client

#32 feat(server): implement actor system
  .github/workflows/ci-server.yml
  src/server/.devcontainer/Dockerfile
  src/server/.devcontainer/devcontainer.json
  src/server/.gitignore
  src/server/.pylintrc
  src/server/app/__main__.py
  src/server/app/actors/customers_actor.py
  src/server/app/actors/db_actor.py
  src/server/app/actors/events_actor.py
  src/server/app/classes/actor_message.py
  src/server/app/classes/actor_message_error.py
  src/server/app/classes/address.py
  src/server/app/classes/customer.py
  src/server/app/classes/event.py
  src/server/app/classes/sale.py
  src/server/app/classes/ticket.py
  src/server/app/config/__init__.py
  src/server/app/config/config.py
  src/server/app/enums/actor_global_name.py
  src/server/app/enums/actor_name.py
  src/server/app/enums/customers_action.py
  src/server/app/enums/customers_actor_action.py
  src/server/app/enums/events_action.py
  src/server/app/enums/events_actor_action.py
  src/server/app/models/__init__.py
  src/server/app/models/base_model.py
  src/server/app/models/customer.py
  src/server/app/models/event.py
  src/server/app/models/ticket.py
  src/server/app/routes/customers.py
  src/server/app/routes/events.py
  src/server/requirements.txt
Labels: comp: server

#41 feat(client): implement client
  src/client/app/__main__.py
  src/client/app/api/customers_api.py
  src/client/app/api/events.py
  src/client/app/api/events_api.py
  src/client/app/classes/arguments.py
  src/client/app/classes/customer.py
  src/client/app/classes/event.py
  src/client/app/classes/response.py
  src/client/app/classes/sales.py
  src/client/app/classes/ticket.py
  src/client/app/commands/__init__.py
  src/client/app/commands/budget.py
  src/client/app/commands/customer.py
  src/client/app/commands/event.py
  src/client/app/commands/ticket.py
  src/client/app/utils/date.py
  src/client/app/utils/validate_args.py
  src/client/requirements.txt
  src/server/server.db
Labels: comp: client

#46 fix(client): bug fixes
  src/client/app/__main__.py
  src/client/app/api/customers_api.py
  src/client/app/api/events_api.py
  src/client/app/classes/arguments.py
  src/client/app/classes/event.py
  src/client/app/utils/date.py
  src/client/app/utils/validate_args.py
Labels: comp: client

#51 refactor(server): remove cli command option db-path
  src/server/app/__main__.py
  src/server/app/config/config.py
Labels: comp: server

#50 fix(server): set correct request arg type for timestamps
  src/server/app/routes/customers.py
Labels: comp: server

#49 fix(server): filter customer tickets by customer id
  src/server/app/actors/db_actor.py
Labels: comp: server

#57 feat(server): return customer ID when adding a customer
  src/server/app/actors/db_actor.py
  src/server/app/routes/customers.py
Labels: comp: server

#55 docs(client): add cli commands to README
  src/client/README.md
Labels: comp: client, docs

#59 refactor(server): change default host address to localhost
  src/server/README.md
  src/server/app/__main__.py
Labels: comp: server

#65 feat(documentation): add use case `Create user`
  src/documentation/text/02_Use_cases/_intro.tex
Labels: comp: documentation

#66 ci(release): create zip file according to the task definition
  .github/workflows/release.yml
Labels: ci

#71 docs(client): add code documentation
  src/client/app/api/customers_api.py
  src/client/app/api/events_api.py
  src/client/app/classes/arguments.py
  src/client/app/classes/customer.py
  src/client/app/classes/event.py
  src/client/app/classes/response.py
  src/client/app/classes/sales.py
  src/client/app/classes/ticket.py
  src/client/app/utils/date.py
  src/client/app/utils/validate_args.py
Labels: comp: client, docs

#70 docs(server): add code documentation
  src/server/app/__main__.py
  src/server/app/actors/customers_actor.py
  src/server/app/actors/db_actor.py
  src/server/app/actors/events_actor.py
  src/server/app/classes/customer.py
  src/server/app/classes/event.py
  src/server/app/classes/ticket.py
Labels: comp: server, docs

#76 chore(client): add missing init files
  src/client/app/__init__.py
  src/client/app/utils/__init__.py
  src/client/app/utils/date.py
Labels: comp: client

#75 refactor(client): standardize table column names
  src/client/app/classes/customer.py
  src/client/app/classes/event.py
  src/client/app/classes/sales.py
  src/client/app/classes/ticket.py
Labels: comp: client

#80 feat(client): improve error messages for failed validation
  src/client/app/utils/validate_args.py
Labels: comp: client

#81 fix(client): adding a customer displays 'error'
  src/client/app/api/customers_api.py
Labels: comp: client

#82 feat(client): add improved date validation
  src/client/app/utils/validate_args.py
Labels: comp: client

#58 feat(documentation): implement architecture section
  src/documentation/acronyms.tex
  src/documentation/literature.bib
  src/documentation/text/02_Use_cases/_intro.tex
  src/documentation/text/03_Architecture/_intro.tex
  src/documentation/text/03_Architecture/actor-system.tex
  src/documentation/text/03_Architecture/data-model.tex
  src/documentation/text/03_Architecture/message-exchange.tex
  src/documentation/text/03_Architecture/overall-architecture.tex
  src/documentation/text/index.tex
Labels: comp: documentation

#67 refactor(documentation): move the tables of use cases to the appendix
  src/documentation/appendices/index.tex
  src/documentation/appendices/use_cases.tex
  src/documentation/root.tex
  src/documentation/text/02_Use_cases/_intro.tex
Labels: comp: documentation

#79 fix: allow decimal number for budget and price
  src/client/app/classes/customer.py
  src/client/app/classes/event.py
  src/client/app/utils/validate_args.py
  src/server/app/models/customer.py
  src/server/app/models/event.py
Labels: comp: client, comp: server

#84 feat(documentation): implement conclusion intro section
  src/documentation/text/04_Conclusion/_intro.tex
Labels: comp: documentation

#89 refactor(documentation): remove unnecessary directories
  src/documentation/root.tex
Labels: comp: documentation

#91 refactor(documentation): minor improvements
  src/documentation/text/01_Preface/requirements.tex
  src/documentation/text/01_Preface/task-definition.tex
  src/documentation/text/02_Use_cases/_intro.tex
  src/documentation/text/03_Architecture/message-exchange.tex
Labels: comp: documentation

#93 fix(documentation): add missing unskip
  src/documentation/text/02_Use_cases/_intro.tex
Labels: comp: documentation

#94 refactor(documentation): improve linebreaks
  src/documentation/text/03_Architecture/message-exchange.tex
Labels: comp: documentation

#95 refactor(documentation): minor improvements
  src/documentation/text/03_Architecture/message-exchange.tex
  src/documentation/text/index.tex
Labels: comp: documentation

#85 chore(client): unify error messages
  src/client/app/utils/validate_args.py
Labels: comp: client

#86 docs: add usage section to READMEs
  src/client/README.md
  src/server/README.md
Labels: comp: client, comp: server, docs

#88 fix(server): check the correct budget value when buying a ticket
  src/server/app/actors/db_actor.py
Labels: comp: server

#97 fix(client): output same lists for admin and customer
  src/client/app/api/events_api.py
  src/client/app/classes/event.py
Labels: comp: client

#98 chore(client): format python files
  src/client/app/api/customers_api.py
  src/client/app/api/events_api.py
  src/client/app/classes/arguments.py
  src/client/app/classes/customer.py
  src/client/app/utils/validate_args.py
Labels: comp: client

#99 chore(client): remove unnecessary imports
  src/client/app/api/customers_api.py
  src/client/app/api/events_api.py
  src/client/app/classes/customer.py
Labels: comp: client

#100 refactor(client): fix pylint warnings
  src/client/.pylintrc
  src/client/app/__main__.py
  src/client/app/api/customers_api.py
  src/client/app/api/events_api.py
  src/client/app/classes/arguments.py
  src/client/app/classes/response_helper.py
  src/client/app/utils/validate_args.py
Labels: comp: client
